<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MetaSpecification -->
      <package
            uri="http://www.tu-darmstadt.es.de/MetaSpecification"
            class="de.tu.darmstadt.es.geolibrary.MetaSpecification.MetaSpecificationPackage"
            genModel="model/MetaSpecification.genmodel"/>
   </extension>

</plugin>
