<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kappaStructure -->
      <package
            uri="http://www.es.tu-darmstadt.de/KappaStructure"
            class="kappaStructure.KappaStructurePackage"
            genModel="model/kappaStructure.genmodel"/>
   </extension>

</plugin>
