<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KappaRules -->
      <package
            uri="http://www.es.tu-darmstadt.de/KappaRules"
            class="de.tu.darmstadt.es.KappaRules.KappaRulesPackage"
            genModel="model/KappaRules.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KappaRules -->
      <package
            uri="http://www.es.tu-darmstadt.de/KappaStructure"
            class="kappaStructure.KappaStructurePackage"
            genModel="model/KappaRules.genmodel"/>
   </extension>

</plugin>
